# Copy this file to ".env.host" and fill values.
# File location: WAC/webauthguard/.env.host

RESOURCE_BASE=http://localhost:8001
OPENSEARCH_URL=http://localhost:9200

# Leave TELEGRAM_ENABLED=false if you do not want alerts.
TELEGRAM_ENABLED=true
TELEGRAM_BOT_TOKEN=REPLACE_WITH_BOT_TOKEN
TELEGRAM_CHAT_ID=REPLACE_WITH_CHAT_ID
